body {
  background: url(../images/ccgd-banner-home.png) no-repeat 35% 0;
  font-size: 110%;
}
#page, #main-wrapper, #main-menu-links li a.active, #main-menu-links li.active-trail a {
  background: none;
}
#site-name, .field-label,
h1, h2, h3 {
  visibility: hidden;
  font-family: 'Titillium Web', sans-serif;
}
h1#page-title {
  font-size: 2.4em;
}

#site-name {
  font-size: 4.2em;
  letter-spacing: -1px;
}

#site-slogan {
  font-size: 1.7em;
}

#header {
  background: none;
  padding-top: 5px;
}

#name-and-slogan {
  margin-bottom: 90px;
  padding-top: 60px;
  padding-bottom: 20px;
}

#secondary-menu li a {
  background: #fff;
  border-radius: 3px 3px 3px 3px;
  font-weight: bold;
  padding: 10px 18px;
  color: #dc2f35;
}

#main-menu {
  padding: 20px 20px 0 10px;
}

#main-menu-links {
  width: 564px;
  margin: 0 auto;
}

#main-menu-links a, #main-menu-links a:focus, #main-menu-links a:hover {
  color: #dc2f35;
  padding: 11px 56px;
  font-size: 1.8em;
  letter-spacing: -1px;
  border-radius: 3px 3px 3px 3px;
  width: 165px;
  text-align: center;
  font-weight: bold;
}
#main-menu-links li.active a {
  color: #fff;
  font-weight: bold;
  background: #dc2f35;
}
#main-menu-links li.active a:hover,
#main-menu-links li.active a:focus {
  opacity: 0.9;
}

#main {
  margin-top: 0px;
  background-color: rgba(255, 255, 255, 0.95);
  border-top: 5px solid #dc2f35;
  padding: 10px;
  margin-bottom: 10px;
}
.field-label {
  margin-top: 15px;
}

#page-wrapper {
  padding-top: 20px;
  background: none;
}

.action {
  padding: 10px;
  text-align: right;
  color: #888;
  font-size: 24px;
}

.action .btn {
  background: #0071b3;
  padding: 10px 30px;
  border-radius: 3px 3px 3px 3px;
  color: #fff;
  margin-left: 10px;
}

#footer-wrapper {
  text-align: left;
  color: #888;
  padding-top: 15px;
  font-size: 14px;
  background: #e5e4e4;
  border-top: 1px #c1c1c1 solid;
}
#footer-wrapper a,
#footer-wrapper a:hover {
  color: #0071B3;
}

#footer-wrapper #left-col {
  float: left;
  width: 68%;
}

#footer-wrapper #right-col {
  float: right;
  width: 30%;
  text-align: center;
}

#footer-wrapper #right-col #featured-on li {
  list-style: none;
}

/* notice */
.notice {
  border: 1px solid #c1c1c1;
  margin: 0 0 10px;
  text-align: center;
  color: #c1c1c1;
  background: #333;
  padding: 0 10px;
}
.notice p {
  margin-top: 0px;
}

/* closed gigs */
.closed-gigs {
  color: #888;
  border-top: 1px #e1e1e1 solid;
  margin-top: 20px;
  padding-top: 20px;
}
.closed-gigs table {
  background: #e1e1e1;
}

.closed-gigs table a {
  color: #888;
  text-decoration: underline;
}

/* thanks */
#thanks { display: none; }
#thanks img.operator { padding: 5px 10px 0; }
#thanks img.drupal { padding: 0 0 3px 0; }
#thanks img.blencorp { padding: 0 0 5px 0; }

/* HybridAuth */
.hybridauth-google-hybridauth-32 {
  background: url(https://s3.amazonaws.com/blen/unfurlough/sign-in-with-google.png) no-repeat;
  height: 60px;
  width: 300px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  opacity: 1;
  border-bottom: 1px #d1d1d1 solid;
}
.hybridauth-google-hybridauth-32:hover {
  opacity: 0.75;
}

/* top bar */
#topbarmsg-container {
  background-color: rgba(0, 82, 129, 0.9) !important;
  padding: 13px 0 16px;
  height: auto;
}

#topbarmsg-container a#topbarmsg-logo {
  color: #fff !important;
  font-style: italic;
}

#topbarmsg-shadow {
  background: none;
}

#topbarmsg-close,
#topbarmsg-open {
  font-size: normal;
  background: rgb(0, 113, 179) !important;
  border: 1px rgb(0, 82, 129) solid;
  padding: 2px 13px;
  font-size: 13px;
  font-family: Arial !important;
  text-decoration: none !important;
  border-radius: 3px 3px 3px 3px;
}

#topbarmsg-close:hover,
#topbarmsg-open:hover {
  border: 1px #fff solid;
  background: none;
}

@media (max-width: 979px) {
  body {
    font-size: 80%;
  }
  #name-and-slogan {
    font-size: 60%;
    margin-bottom: -4px;
    padding-bottom: 20px;
    padding-top: 60px;
  }
  #content .section { padding: 0; }
  #main {
    padding: 0px;
  }
  .action { font-size: 13px; }
  .action .btn { padding: 5px 10px; }

  #footer-wrapper #left-col,
  #footer-wrapper #right-col { 
    display: block; 
    width: 100%;
  }  

  .view-id-work .cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
  .view-id-work * html .cf { zoom: 1; }
  .view-id-work *:first-child+html .cf { zoom: 1; }
  .view-id-work table { width: 100%; border-collapse: collapse; border-spacing: 0; }
 
  .view-id-work th,
  .view-id-work td { margin: 0; vertical-align: top; }
  .view-id-work th { text-align: left; }
  .view-id-work table { display: block; position: relative; width: 100%; margin-left: -10px; }
  .view-id-work thead { display: block; float: left; }
  .view-id-work tbody { display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap; }
  .view-id-work thead tr { display: block; width: 125px; }
  .view-id-work th { display: block; text-align: right; height: 35px; padding: 10px; }
  .view-id-work tbody tr { display: inline-block; vertical-align: top; }
  .view-id-work td { display: block; min-height: text-align: left; height: 35px; padding: 10px 0; }
 
  /* sort out borders */
 
  .view-id-work th { border-bottom: 0; border-left: 0; }
  .view-id-work td { border-left: 0; border-right: 0; border-bottom: 0; }
  .view-id-work tbody tr { border-left: 1px solid #babcbf; }
  .view-id-work th:last-child,
  .view-id-work td:last-child { border-bottom: 1px solid #babcbf; }

} 
